html {
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5;
  tab-size: 4;
  scroll-behavior: smooth;
}

:root {
  --mockingbird-grey: #90877f;
  --mockingbird-white: #d0cfd6;
  --mockingbird-black: #0b0b0d;
  --mockingbird-brown: #746051;
}

body {
  font-family: inherit;
  line-height: inherit;
  background-color: var(--mockingbird-grey);
  color: var(--mockingbird-white);
  margin: 0;
}