@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5;
  tab-size: 4;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.test-border-red {
  @apply border-4 border-red-500;
}

.test-border-green {
  @apply border-4 border-green-500;
}

.test-border-blue {
  @apply border-4 border-blue-500;
}

.test-border-purple {
  @apply border-4 border-purple-500;
}

.test-border-cyan {
  @apply border-4 border-l-cyan-500;
}

.test-border-yellow {
  @apply border-4 border-yellow-500;
}